/* My web */
*{
    margin:0;
}
#my-web{
    width: 100%;
    height: 100%;
}
/* Header */
.logo{
    width: 80px;
    flex-shrink: 0;
}
.header{
    margin:0px 135px;
}
.header p{
    display: inline-block;
}
.Odin-title2,
.Odin-title{
    text-transform: uppercase;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.Odin-title{
    font-family: Moul;
    letter-spacing: -0.48px;
}
.Odin-title2{
    font-family: "Mouse Memoirs";
    letter-spacing: 6.48px;
}

.title-section{
    vertical-align: top;
    display:inline-block;
    width: 151px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.title-items{
    vertical-align: top;
    padding: 30px 0px;
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    margin-right: 68px;
}
.items-align{
    display: inline-block;
    vertical-align: top;
    margin-left: 410px;
}
.item{
    padding-left:0px;
}
.last-item{
    padding-left:0px;
    margin-right: 0px;
}

/* Search section */
.search-section{
    background-color: #000;
    width: 100%;
    height: 65px; 
}
.center-information{
    display: inline-block;
    margin-left:30%;
}
.second-text,
.first-text{
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 5px;
}
.first-text{
    font-family: Inter;
    font-size: 12px;
    letter-spacing: 2.24px;
    text-transform: uppercase;
}
.second-text{
    font-family: Italianno;
    font-size: 50px;
}
.input-text{
    padding:8px;
    border-radius: 7px;
    background-color: rgb(224, 224, 224);
}
.input-text::placeholder{
    font-family: Italianno;
    font-size: 25px;
}
.sign-up{
    color:#fff;
    padding-left: 150px;
}